
body{
    background-color: white;
}
.info{
    display: flex;
    flex-direction: column;
    text-align: left;
    
}
.rating{
    display: flex;
    flex-direction: row;
}
.product_basket{
    display: flex;
    flex-direction: row;
    border: 2px solid gray;
    padding: 20px;
}
.tittle{
    font-size: 25px;
}
.btn{
    height: 50px;
}
@media screen and (max-width:600px){
    .product_basket{
        display: flex;
        flex-direction: column;
        height: 500px;
        margin-bottom:50px ;
    }
}