*{
    margin:0ex;
    
   
}
.form_group{
    background-color:white;
    width: 440px;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 3px;
    border: 2px solid lightgrey;
    padding-left: 20px;
    
    
        
}
label{
    text-align: left;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.card_login
{
    margin: auto;
    width: 448px;
    border-radius: 4px;
    position: relative;
    margin-top: 40px;    
    background-color: rgb(250, 244, 244);
    font-family: Arial,sans-serif;
    border: 1px solid rgb(245, 255, 255);

}
.input_values{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    height: 100px;
    
    
    
}
.signup{
    text-align: left;
}
.terms{
    margin-left: -5px;
    font-size: 15px;
    padding-top: 10px;

}
.input{
    background-color: #fff;
    width: 90%;
    height: 31px;
    padding: 3px 7px;
    padding-top: 3px;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-left: 7px;
    line-height: normal;
    border-top-color: #949494;
    border-top-style: solid;    
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
   
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
}
.register{
    background-color: darkgray;
    height:40px;
    border: none;
    border-radius: 3px;
    width: 300px;
}
.login_btn{
    height: 40px;
    border-radius: 3px; 
    width: 90%;
    border: none;
    overflow: hidden;
    margin-right: 40px;
    
    
}
input:focus{
    border-color: orangered;
    
    
    }
.reg_button{
    
    height: 40px;
    border-radius: 3px; 
    width: 90%;
    border: none;
    overflow: hidden;
    margin-right: 40px;
    background-color: rgba(143, 138, 138, 0.486);
    margin-bottom: 30px;
}
.line{
    width: 30%;
}
.line2{
    width: 30%;
}
.dline{
    display: flex;
    flex-direction: row;
}
@media  screen and (max-width: 600px) {
    .login{
     margin-left: 0;
     width:max-content;
     margin-right: 20px; 
     width: fit-content; 
     margin-left: 10px;   
        
    }
    input{
    width: 200px;
    border-color: gray;
    outline: none;
    height: 40px;
    border-radius: 3px;    
    border-color: 1px solid transparent;

    } 
    .card_login{
        width: 90vw;
        margin: auto;
    }   
    .form_group{
        width: 88vw;
        margin: auto;
    }
}